######################################
# JAVA / SPRING / MAVEN
######################################

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.nar
*.ear

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Crash logs
hs_err_pid*
replay_pid*

HELP.md

######################################
# NODE / REACT
######################################

# Node modules (MUY IMPORTANTE)
node_modules/
frontend/node_modules/

# Build outputs
build/
frontend/build/
dist/
frontend/dist/

# Coverage
coverage/
frontend/coverage/

# Vite
frontend/.vite/
frontend/vite.svg

# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.npm
.eslintcache
.cache/

######################################
# IDEs
######################################

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/

######################################
# OS
######################################

.DS_Store
Thumbs.db
